input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.kg-button {
  min-width: 80px;
}

.kg-row {
  margin: 10px 5px;
  text-align: left;
}
.completed {
  text-decoration: line-through;
  color: #888;
}
